<!DOCTYPE html>
<html>
    <head>
        <title> Create Account </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    
    <body id = "lo">
        <h1 >
            <figure id="h1" >
                <img src="https://fontmeme.com/permalink/200312/e3ac6f4df0a4deaaf01a1a140fb7df8d.png" alt="Picture Of Wizard King" style="width:800px;height:50px;" />
            </figure>
        </h1>
        
        <nav>
            <a href="/">Home </a>
            <a href="/login">Login</a>
            <a href="/lightsabers">Lightsabers</a>
            <a href="/cart">Shopping Cart</a>
        </nav>
        <br />
        
        <br>

        <main id="loginMain">
            <figure id="me" >
                <img src="https://img.playbuzz.com/image/upload/ar_1.5,c_pad,f_jpg,b_auto/q_auto:good,f_auto,fl_lossy,w_480,c_limit/cdn/ad093c27-86af-4c37-8400-774d48c87187/0a5333b4-86f2-4a82-983d-fe16c8f28db1_560_420.jpg" style="width:450px;height:350px;" />
            </figure>
            
            <form id= "createAccountForm" action=/> 
                Username: <input type="text" name="username" placeholder="username"/><br>
                Password: <input type="password" placeholder="password" name="password"/><br><br>
                <button class="myButton">Create Account!</button>
                <br><br>
                <button class="myButton" id="back">Go Back</button>
            </form>
        </main>
    
    </body>
</html>