<!DOCTYPE html>
<html>
<head>
<title>Girls Clothes</title>
        <link rel="stylesheet" href="/css/styles.css"/>

</head>
<body id="37">
<h1>Girls</h1>
<nav>
            <a href="/">Home</a>
            <a href="/male">Guys</a>
            <a href="/female">Girls</a>
            <a href="/cart">Shopping Cart</a>
</nav>
Filter Color:
<select id="color" name="color">
          <option value="">Select One</option>
          <option value="Red">Red</option>
          <option value="Black">Black</option>
          <option value="Blue">Blue</option>
          <option value="White">White</option>
</select>
Filter by type:
<select id="type" name="type">
          <option value="">Select One</option>
          <option value="sweaters">Sweaters</option>
          <option value="pants">Pants</option>
          <option value="shirts">Shirts</option>
</select>
Filter Price:<input type="text">
<div class="row1">
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0017/779/769/cn17779769.jpg" alt="shirt" id="1">
    
                <h4>
                  
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0017/357/601/cn17357601.jpg" alt="shirt" id="1">
    <h4>
                    
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0018/071/585/cn18071585.jpg" alt="shirt" id="1">
    <h4>
                    
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
</div>
<br>
<div class="row1">
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0017/750/892/cn17750892.jpg" alt="shirt" id="1">
    <h4>
                   
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0017/302/180/cn17302180.jpg" alt="shirt" id="1">
    <h4>
                    
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
  <div class="column1">
    <img src="https://bananarepublic.gap.com/webcontent/0017/421/158/cn17421158.jpg" alt="shirt" id="1">
    <h4>
                 
                    <button class="button">Add to Cart</button>
                </h4>
  </div>
</div>
</body>
</html>