<!DOCTYPE html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
        <body>
            <h1>Main Page</h1>
        </header>
        <hr/>
        <nav>
            <a href="/">Home</a>
            <a href="/male">Guys</a>
            <a href="/female">Girls</a>
            <a href="/cart">Shopping Cart</a>
        </nav>
        <br />
        <div class="row">
          <div class="column">
              <img class="img"src="img/home.png" alt="homepage" >
          </div>
          <div class="column">
            <img class="img"src="img/male.png" alt="male pic">
          </div>
          <div class="column">
            <img class="img"src="img/female.png" alt="female picture">
          </div>
          <div class="column">
            <img class="img"src="img/cart.png" alt="bags picture">
          </div>
        </div>
        <br />
        </body>
</html>