<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="/css/styles.css"/>
        
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>
    
<body>
            <h1 >
                <figure id="h1" >
                    <img src="https://fontmeme.com/permalink/200312/e3ac6f4df0a4deaaf01a1a140fb7df8d.png" alt="Picture Of Wizard King" style="width:800px;height:50px;" />
                </figure>
            </h1>
        </header>
        <hr/>
        <nav>
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/lightsabers">Lightsabers</a>
            <a href="/cart">Shopping Cart</a>
        </nav>
        Filter Color: 
        <div class="dropdown">
            <button class="dropbtn">Select</button>
            <div class="dropdown-content">
              <a>Yellow</a>
              <a>Red</a>
              <a>Blue</a>
              <a>Silver</a>
              <a>Green</a>
              <a>Orange</a>
            </div>
          </div>    
    Filter Price: <input type="number" id="price" name="price" min="0.00" step="1">
    <button value="submit">Submit</button>
</body>
<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
</html>