<!DOCTYPE html>
<html>
<head>
<title>Login</title>
</head>
<body>
        <h1>Login</h1>
        Username: <input type="text" name="username" id="username"/><br>
        Password: <input type="password" id="password"><br>
        <button id="loginBtn">Login!</button>
</body>
</html>