<!DOCTYPE html>
<html>
    <head>
        <title> </title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>

        <h1> Report </h1>
        

        <form>
             
            <h2><strong>Average Price Male:</strong> <%=info[0].avgPriceMale %></h2>
            <h2><strong>Average Price Female:</strong> <%=info[0].avgPriceFemale %></h2>
            <h2><strong>Inventory:</strong> <%=info[0].inventory %></h2>
            <br><br>
        </form>        

        
    </body>
</html>