<html>
    <head>
        <title>Thank You</title>
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>
    <body>
        <br>
        <nav>
        <a href="/">Home</a>
        <a href="/male">Guys</a>
        <a href="/female">Girls</a>
        <a href="/cart">Shopping Cart</a>
	    </nav>
        <h1>Thank You For Your Purchase!</h1>
    </body>
</html>